# requirements.txt
python-dotenv
pdfminer.six
python-docx
pandas
openpyxl
google-generativeai
python-multipart 

# Thư viện cho giao diện test
streamlit

# Thư viện cho MCP Server
fastapi
uvicorn[standard]