# requirements.txt
python-dotenv
pdfminer.six==20231228
python-docx
pandas
openpyxl
google-generativeai
python-multipart 

# Thư viện cho giao diện test
streamlit

# Thư viện cho MCP Server
fastapi
uvicorn[standard]

# uv pip install -r requirements.txt
# uv cache clean